<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block title %}
    {% endblock title %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
   <link rel="stylesheet" href="../static/css/style.css" id="theme-styles">

    <link rel="stylesheet" href="../static/css/highlights/pastie.css">
    {% block import %}
    {% endblock import %}
    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->


</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="/" id="logo">
                    <img src="../../static/img/logo.png" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">

                            <li>
                                <a href="/">主页</a>
                            </li>
                            <li>
                                <a href="/archives">归档</a>
                            </li>
                            <li>
                                <a href="/about">关于</a>
                            </li>
                            <li>
                                <a href="/contact">联系</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="/">博客</a>
                    <span class="separator">&#x2F;</span>
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </div>


                <div class="clean-searchbox">
                    <form action="/search" method="get" accept-charset="utf-8">

                        <input class="searchfield" id="searchbox" name="text" type="text" placeholder="搜索">
                         <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    {% block main %}
    {% endblock main %}

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>关于</h3>
                        {{ blog_tag().user.introduce | safe }}
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> 最新</h3>
                         <ul class="clean-list">
                            {% for article in blog_tag().new_articles %}
                            <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系我</h3>
                        {{ blog_tag().user.contact | safe }}
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                来自<a href="http://www.cssmoban.com/">模板之家</a> 由<a href="http://mxuanli.cn/">玄离</a> 修改
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/modernizr.js"></script>

    <!-- 返回顶部 -->
    <div id="box" class="box">
        <div class="box-in"></div>
    </div>
    <script>
        var timer  = null;
        box.onclick = function(){
            cancelAnimationFrame(timer);
            //获取当前毫秒数
            var startTime = +new Date();
            //获取当前页面的滚动高度
            var b = document.body.scrollTop || document.documentElement.scrollTop;
            var d = 500;
            var c = b;
            timer = requestAnimationFrame(function func(){
                var t = d - Math.max(0,startTime - (+new Date()) + d);
                document.documentElement.scrollTop = document.body.scrollTop = t * (-c) / d + b;
                timer = requestAnimationFrame(func);
                if(t == d){
                cancelAnimationFrame(timer);
                }
            });
        }
    </script>

</body>
</html>