{% extends 'base.html' %}

{% block title %}
    <title>{{ name }}</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">{{ name }}</a>
{% endblock breadcrumb %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="row">

                        <ul>
                            {% for article in articles %}
                                <h3 id="{{ article }}">{{ article[:4] }} 年 {{ article[4:] }}月</h3>
                                <ul>
                                    {% for a in articles[article] %}
                                    <li>
                                        <h5><span><a href="/article/{{ a.id }}">{{a.title}}</a></span></h5>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <aside class="col-md-4 blog-aside">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>最新</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for article in blog_tag().new_articles %}
                                <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                    <div class="aside-widget">
                        <header>
                            <h3>分类</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for category in blog_tag().categories %}
                                <li><a href="/category/{{ category.id }}">{{ category.name }}（{{ category.article.count() }}）</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>标签</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                {% for tag in blog_tag().tags %}
                                <li><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock main %}