{% extends 'base.html' %}

{% block title %}
    <title>{{ name }}</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">{{ name }}</a>
{% endblock breadcrumb %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                    <h2>留言</h2>
                    
                    <form action="#" method="get" accept-charset="utf-8" class="contact-form">
                        <input type="text" name="name" id="contact-name" placeholder="昵称"" class="form-control input-lg">
                        <input type="email" name="email" id="contact-email" placeholder="邮箱" class="form-control input-lg">
                        <textarea rows="10" name="message" id="contact-body" placeholder="消息" class="form-control input-lg"></textarea>
                        <div class="buttons clearfix">
                            <button type="submit" class="btn btn-xlarge btn-clean-one">提交</button>
                        </div>                    
                    </form>
                </div>
            </div>        
        </div>
    </div>

    {% endblock main %}

{% block bottom %}
     <ul class="clean-list">
        {% for article in context.new_articles %}
        <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock bottom %}