{% extends 'base.html' %}

{% block title %}
    <title>{{ name }}</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">{{ name }}</a>
{% endblock breadcrumb %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="row">

                        {% for article in articles %}

                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <div style="max-height:300px;overflow: hidden;">
                                        <a href="/article/{{ article.id }}"><img src="{{ article.cover_url }}" alt="封面"></a>
                                    </div>
                                    <h4><a href="/article/{{ article.id }}">{{ article.title }}</a></h4>
                                    <span class="meta">{{ article.create_time }}-{{ article.user.nick_name }}</span>
                                    <hr>
                                </header>

                                <a href="/article/{{ article.id }}">
                                    <div class="body">
                                        {{ article.digest }}
                                    </div>
                                </a>
{#                                <div class="clearfix continue">#}
{#                                    <a href="/article/{{ article.id }}" class="btn btn-clean-one">继续阅读</a>#}
{#                                </div>#}

                            </article>
                        </div>
                        {% endfor %}
                    </div>
                    {% if name == "首页" %}
                    <div class="paging">
                        <a href="/article/all" class="older">全部文章>></a>
                    </div>
                    {% endif %}

                </div>
                <aside class="col-md-4 blog-aside">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>最新</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for article in blog_tag().new_articles %}
                                <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                    <div class="aside-widget">
                        <header>
                            <h3>分类</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for category in blog_tag().categories %}
                                <li><a href="/category/{{ category.id }}">{{ category.name }}（{{ category.article.count() }}）</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>标签</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                {% for tag in blog_tag().tags %}
                                <li><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock main %}