{% extends 'base.html' %}

{% block title %}
<title>首页</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">首页</a>
{% endblock breadcrumb %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="row">

                        {% for article in articles %}

                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="{{ article.cover_url }}" alt="">
                                    <h3><a href="single.html">{{ article.title }}</a></h3>
                                    <span class="meta">{{ article.create_time }}-{{ article.user.nick_name }}</span>
                                    <hr>
                                </header>

                                <div class="body">
                                    {{ article.digest }}
                                </div>

                                <div class="clearfix">
                                    <a href="/article/{{ article.id }}" class="btn btn-clean-one">继续阅读</a>
                                </div>

                            </article>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="paging">
                        <a href="/article/all" class="older">更多>></a>
                    </div>
                </div>
                <aside class="col-md-4 blog-aside">
                    
                    <div class="aside-widget">
                        <header>
                            <h3>最新</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for article in articles[:4] %}
                                <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                    <div class="aside-widget">
                        <header>
                            <h3>分类</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>标签</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>                            
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock main %}

{% block bottom %}
     <ul class="clean-list">
        {% for article in articles[:4] %}
        <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock bottom %}