{% extends 'base.html' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">{{ article.title }}</a>
{% endblock breadcrumb %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main col-md-offset-2">
                    <article class="blog-post">
                        <div class="body">
                            <h1>{{ article.title }}</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> {{ article.user.nick_name }} <i class="fa fa-calendar"></i>{{ article.create_time }}<i class="fa fa-comments"></i><span class="data"><a href="#comments">{{ article.comment.count() }}</a></span>
                            </div>
                            {{ article.content | safe }}
                        </div>
                    </article>

                </div>

            </div>
        </div>
    </div>

{% endblock main %}