{% extends 'base.html' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">{{ article.title }}</a>
{% endblock breadcrumb %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main col-md-offset-2">
                    <article class="blog-post">
                        <div class="body">
                            <h1>{{ article.title }}</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> {{ article.user.nick_name }} <i class="fa fa-calendar"></i>{{ article.create_time }}<i class="fa fa-comments"></i><span class="data"><a href="#comments">{{ article.comment.count() }}</a></span>
                            </div>
                            {{ article.content | safe }}
                        </div>
                    </article>

                    <aside class="comments" id="comments">
                        <hr>

                        <h3><i class="fa fa-comments"></i> 评论</h3>

                        <article class="comment">
                            <header class="clearfix">
                                <img src="../../static/img/avatar.png" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>

                                    <a href="#create-comment" class="reply-link">Reply</a>
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment reply">
                            <header class="clearfix">
                                <img src="../../static/img/avatar.png" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>

                                    <a href="#create-comment" class="reply-link">Reply</a>
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                    </aside>

                    <aside class="create-comment" id="create-comment">
                        <hr>

                        <h2><i class="fa fa-pencil"></i> 发表评论 </h2>

                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" id="comment-name" placeholder="昵称" class="form-control input-lg">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="email" id="comment-email" placeholder="邮箱" class="form-control input-lg">
                                </div>
                            </div>

                            <input type="url" name="name" id="comment-url" placeholder="网址" class="form-control input-lg">

                            <textarea rows="10" name="message" id="comment-body" placeholder="内容" class="form-control input-lg"></textarea>

                            <div class="buttons clearfix">
                                <button type="submit" class="btn btn-xlarge btn-clean-one">提交</button>
                            </div>
                        </form>
                    </aside>

                </div>

            </div>
        </div>
    </div>

{% endblock main %}

{% block bottom %}
     <ul class="clean-list">
        {% for article in articles %}
        <li><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock bottom %}