{% extends 'base.html' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock title %}

{% block breadcrumb %}
    <a href="#">{{ article.title }}</a>
{% endblock breadcrumb %}

{% block import %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/pl.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/pl.css">
{% endblock import %}

{% block main %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main col-md-offset-2">
                    <article class="blog-post">
                        <div class="body">
                            <h1>{{ article.title }}</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> {{ article.user.nick_name }}
                                <i class="fa fa-calendar"></i>{{ article.create_time }}
                                <i class="fa fa-eye"></i>{{ article.click }}
                                <i class="fa fa-comment"></i>测试
                            </div>
                            {{ article.content | safe }}
                        </div>
                    </article>

                    <div class="fl col-md-13">
                        <div class="comment_count">
                                1条评论
                            </div>

                            <div class="comment_list_con">

                                <div class="comment_list">
                                    <div class="col-md-12">
                                        <div class="person_pic  fl">
                                            <img src="../../static/img/cat.jpg" alt="用户图标">
                                        </div>
                                        <div>
                                            <div class="col-md-8 user_name fl name">用户张山</div>
                                            <div class="col-md-8 comment_time fl">2017-01-01 00:00:00</div>
                                        </div>
                                        <div class="col-md-12 comment_text fl">
                                            <p>prev() 获得匹配元素集合中每个元素紧邻的前一个同胞元素，通过选择器进行筛选是可选的。</p>
                                            <a href="javascript:;" class="fa fa-comment comment_reply fl">回复</a>
                                            <a href="javascript:;" class="fa fa-thumbs-o-up comment_like fl">1</a>
                                        </div>
                                    </div>

                                    <div class="col-md-10 reply_text_con fl">

                                        <div>
                                            <a href="#" class="user_name2 name">李思</a>@
                                            <a href="#" class="user_name2">老王</a>：
                                            <span class="reply_text">
                                                该方法接受可选的选择器表达式，与我们向 $() 函数中传递的参数类型相同。如果应用这个选择器，则将通过检测元素是否匹配该选择器对元素进行筛选。
                                            </span>
                                        </div>
                                        <div>
                                            <span class="comment_time">2017-01-01 00:00:00</span>
                                            <a href="javascript:;" class="fa fa-comment son_comment_reply">回复</a>
                                        </div>

                                        <div>
                                            <a href="#" class="user_name2 name">老王</a>@
                                            <a href="#" class="user_name2">李思</a>：
                                            <span class="reply_text">
                                                cnm
                                            </span>
                                        </div>
                                        <div>
                                            <span class="comment_time">2017-01-01 00:00:00</span>
                                            <a href="javascript:;" class="fa fa-comment son_comment_reply">回复</a>
                                        </div>

                                    </div>

                                    <from class="reply_form">
                                        <input type="text" placeholder="昵称" class="name_email_url">
                                        <input type="text" placeholder="邮箱" class="name_email_url">
                                        <input type="text" placeholder="url" class="name_email_url">
                                        <textarea  class="reply_input" ></textarea>
                                        <input type="submit" name="" value="回复" class="reply_sub fr">
                                        <input type="reset" name="" value="取消" class="reply_cancel fr">
                                    </from>

                                </div>

                                <div class="comment_list">
                                    <div class="col-md-12">
                                        <div class="person_pic  fl">
                                            <img src="../../static/img/cat.jpg" alt="用户图标">
                                        </div>
                                        <div>
                                            <div class="col-md-8 user_name fl name">用户张山</div>
                                            <div class="col-md-8 comment_time fl">2017-01-01 00:00:00</div>
                                        </div>
                                        <div class="col-md-12 comment_text fl">
                                            <p>如果给定一个表示 DOM 元素集合的 jQuery 对象，.prev() 方法允许我们在 DOM 树中搜索这些元素的前一个同胞元素，并用匹配元素构造一个新的 jQuery 对象。</p>
                                            <a href="javascript:;" class="fa fa-comment comment_reply fl">回复</a>
                                            <a href="javascript:;" class="fa fa-thumbs-o-up comment_like fl">1</a>
                                        </div>
                                    </div>

                                    <from class="reply_form">
                                        <input type="text" placeholder="昵称" class="name_email_url">
                                        <input type="text" placeholder="邮箱" class="name_email_url">
                                        <input type="text" placeholder="url" class="name_email_url">
                                        <textarea  class="reply_input" placeholder=""></textarea>
                                        <input type="submit" name="" value="回复" class="reply_sub fr">
                                        <input type="reset" name="" value="取消" class="reply_cancel fr">
                                    </from>


                                </div>

                            </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock main %}