<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="../../static/js/article.js"></script>
    <link rel="stylesheet" href="../../static/css/article.css">
</head>
<body>
    <form id="article">
        {{ form.csrf_token }}
            <div class="option">
            <p>
                {{ form.title.label }}：{{ form.title }}
            </p>
            <p>
                {{ form.digest.label }}：{{ form.digest }}
            </p>
            <p>
                {{ form.author.label }}：{{ form.author }}
            </p>
            <p>
                {{ form.category.label }}：{{ form.category }}
            </p>
            <p>
                {{ form.tag.label }}：{{ form.tag }}
            </p>
            <p>
                {{ form.coverlabel }}{{ form.cover }}
            </p>
        </div>
        <div class="content">
            {{ form.context(id="oriContent", onkeyup="convert()") }}
            <div id="result"></div>
            <div>
                <input type="button" value="发布" class="submit" onclick="ajaxSubmitForm();"/>
            </div>
        </div>
    </form>

</body>
</html>